﻿@{
    Layout = "~/Views/Shared/_LayoutTochuc.cshtml";
}
@model PBL3_QLHDTN.ViewModel.LinhvucView;
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tạo hoạt động</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Dẫn đường link đến các font chữ sử dụng trong trang -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styleTaoHD.css">
</head>
<body>
    <div class="TAOHD">
        <form method="post">
            <div class="container-6">
                <div class="toho-tng"> TẠO HOẠT ĐỘNG </div>

                <input type="text" class="nhp-tn-hotng" name="TenHD" placeholder="Nhập tên hoạt động"></input>
                <div >
                    <div class="thoigianbd"> Thời gian bắt đầu:</div>
                <input type="date" id="TGBD" class="TGBD" name="TGBD" placeholder="Chọn thời gian bắt đầu"></input>
                </div>
                <div>
                    <div class="thoigiankt"> Thời gian kết thúc:</div>
                <input type="date" id="TGKT"class="TGKT" name="TGKT" placeholder="Chọn thời gian kết thúc"> </input>
                </div>
                <div class="Chon">
                    <select class="QuanHuyen" id="QuanHuyen" name="QuanHuyen" onchange="showPX()">
                        <option disabled selected hidden>Chọn Quận/Huyện</option>
                        <option value="Cẩm Lệ">Cẩm Lệ</option>
                        <option value="Hải Châu">Hải Châu</option>
                        <option value="Liên Chiểu">Liên Chiểu</option>
                        <option value="Ngũ Hành Sơn">Ngũ Hành Sơn</option>
                        <option value="Sơn Trà">Sơn Trà</option>
                        <option value="Thanh Khê">Thanh Khê</option>
                        <option value="Hoà Vang">Hoà Vang</option>
                        <option value="Hoàng Sa">Hoàng Sa</option>
                    </select>

                    <select class="PhuongXa" id="PhuongXa" name="PhuongXa">
                        <option disabled selected hidden>Chọn Phường/ Xã</option>
                    </select>
                </div>
                <input type="text" class="aim-tchc-hotng" name="DiaDiem" placeholder="Địa điểm tổ chức hoạt động"></input>
                @if (@Model != null)
                {
                    <select class="linhvuc" id="linhvuc" name="linhvuc">
                        <option disabled selected hidden>Chọn lĩnh vực</option>
                        @foreach (var i in Model.TenLV)
                        {
                            <option>@i</option>
                        }
                    </select>
}
                <input type="text" class="mtmcch-thngip-ca-hotng" name="ThongDiep" placeholder="Mô tả mục đích, thông điệp của hoạt động"></input>
                <div>
                    <div class="tgktdk"> Thời gian kết thúc đăng ký:</div>
                    <input type="date" id="TGKTDK" class="TGKTDK" name="TGKTDK" placeholder="Chọn thời gian kết thúc đăng ký"> </input>
                </div>
                <div class="container-12">
                    <div class="slng-tnv-1">
                        <br />
                        <br />
                        Số lượng TNV:
                    </div>
                    <input type="number" class="SL-tong" name="SL" placeholder="0"></input>
                </div>
                <button onclick="TaoHDong()" action="TaoHD" class="TAOHD-1">Tạo hoạt động</button>
        </form>           
        <p class="TB">
            @ViewBag.thongbao
        </p>

    </div>
</body>
</html>
<style>

    .TAOHD {
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3px;
        width: 1440px;
        box-sizing: border-box;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

        .TAOHD .logo {
            background: url('images/logo.png') 50% / cover no-repeat;
            width: 105px;
            height: 99px;
        }

        .TAOHD .trangchu {
            margin: 53px 0 11px 0;
            display: inline-block;
            overflow-wrap: break-word;
            font-family: 'Baloo', 'Roboto Condensed';
            font-weight: 400;
            font-size: 30px;
            color: #0F8730;
        }

        .TAOHD .qlHD {
            margin: 53px 0 11px 0;
            display: inline-block;
            overflow-wrap: break-word;
            font-family: 'Baloo', 'Roboto Condensed';
            font-weight: 400;
            font-size: 30px;
            color: #0F8730;
        }

    .Sub {
        position: absolute;
        width: 240px;
        border: 1px solid #000000;
        list-style-type: none; /* Ẩn kiểu đánh dấu */
        padding: 0; /* Loại bỏ padding */
        margin: 0;
        display: none;
    }

    .qlHD:hover .Sub {
        display: block;
    }

    .Sub li {
        /* Định dạng cho từng mục trong ul */
        padding: 8px 0; /* Padding phía trên và phía dưới */
    }

        .Sub li a {
            /* Định dạng cho các liên kết bên trong mục */
            text-decoration: none; /* Loại bỏ gạch chân */
            color: #000000; /* Màu chữ */
            font-size: 20px;
        }

            .Sub li a:hover {
                /* Định dạng khi di chuột qua liên kết */
                color: #0F8730; /* Màu chữ thay đổi khi hover */
            }

    .btn-TimKiem {
        background-color: #FFFFFF;
        margin-right: 10px;
        padding: 8px 12px;
        border: none;
        cursor: pointer;
    }

        .btn-TimKiem i {
            font-size: 20px;
        }

    .btn-TaiKhoan {
        background-color: #FFFFFF;
        margin-right: 40px;
        padding: 8px 12px;
        border: none;
        cursor: pointer;
    }

        .btn-TaiKhoan i {
            font-size: 30px;
        }

    .TAOHD .search-input {
        width: 400px;
        height: 32px;
        padding: 5px;
        border: 2px solid #000000;
        border-radius: 20px;
        font-size: 24px;
        opacity: 0.5;
    }

    .TAOHD .container-15 {
        background: #FFFFFF;
        position: relative;
        margin: 6px 30px 4px 0;
        display: flex;
        flex-direction: row;
        padding: 2px 27.3px 11px 15px;
        box-sizing: border-box;
    }

    .TAOHD .container-24 {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
    }

    .TAOHD .container-head {
        margin: 0 0 9px 4.2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1365px;
        box-sizing: border-box;
    }

    .TAOHD .together {
        align-self: flex-start;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-weight: 400;
        font-size: 25px;
        color: #0F8730;
    }

    .TAOHD .container-6 {
        margin: 55px 0 428px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .TAOHD .container-logo {
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .TAOHD .container-header {
        background: #FFFFFF;
        position: relative;
        display: flex;
        padding: 1px 14px 33px 56.8px;
        box-sizing: border-box;
    }

    .TAOHD .toho-tng {
        margin: 0 0 77px 34.7px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-weight: 400;
        font-size: 48px;
        color: #000000;
    }
    .TAOHD .nhp-tn-hotng {
        width: 700px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }
    .TAOHD .thoigianbd{
        font-size:24px;
        magin-right:30px;
    }
    .TAOHD .TGBD {
        width: 700px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }

    .TAOHD .thoigiankt {
        font-size: 24px;
        magin-right: 30px;
    }
    .TAOHD .TGKT{
        width: 700px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }

    .TAOHD .tgktdk {
        font-size: 24px;
        magin-right: 30px;
    }

    .TAOHD .TGKTDK {
        width: 700px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }
    .TAOHD .QuanHuyen {
        width: 350px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }

    .TAOHD .PhuongXa {
        width: 350px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }
    .TAOHD .aim-tchc-hotng {
        width: 700px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }

    .TAOHD .linhvuc {
        width: 700px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }

    .TAOHD .mtmcch-thngip-ca-hotng {
        width: 700px;
        height: 100px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
    }

    .SL-tong {
        width: 100px;
        height: 49px;
        padding: 5px;
        border: 2px solid #0f8730;
        border-radius: 20px;
        font-size: 24px;
        font-family: 'Barlow';
        text-align: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .TAOHD .container-12 {
        margin: 0 0 96px 12px;
        /* display: flex; */
        flex-direction: row;
        justify-content: space-between;
        width: 700px;
        box-sizing: border-box;
    }

    .TAOHD .container-12 {
        margin: 0 0 96px 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 450px;
        box-sizing: border-box;
    }

    .TAOHD .TAOHD-1 {
        margin: 0 auto 189px auto;
        display: inline-block;
        align-self: flex-end;
        overflow-wrap: break-word;
        font-family: 'Baloo', 'Roboto Condensed';
        font-size: 30px;
        border: #0F8730;
        background-color: #0F8730;
        border-radius: 20px;
        color: #000000;
    }
    .slng-tnv-1{
        font-size: 22px;
    }
</style>
<script>
    let TaoHD = document.querySelector(".TaoHD-1");

    TaoHD.addEventListener("click", () => {

    });
    let Themban = document.querySelector(".thm-ban");

    Themban.addEventListener("click", () => {

    });
</script>
<script>
    function showPX() {
        var QuanHuyen = document.getElementById("QuanHuyen");
        var PhuongXa = document.getElementById("PhuongXa");

        // Xóa các tùy chọn hiện có trong select PhuongXa
        PhuongXa.innerHTML = '';

        // Tùy chỉnh các tùy chọn trong select PhuongXa tùy theo QuanHuyen được chọn
        switch (QuanHuyen.value) {
            case "Cẩm Lệ":
                PhuongXa.options.add(new Option("An Khê", "An Khê"));
                PhuongXa.options.add(new Option("Hòa Minh", "Hòa Minh"));
                PhuongXa.options.add(new Option("Hòa Phát", "Hòa Phát"));
                PhuongXa.options.add(new Option("Hòa Thọ Đông", "Hòa Thọ Đông"));
                PhuongXa.options.add(new Option("Hòa Thọ Tây", "Hòa Thọ Tây"));
                PhuongXa.options.add(new Option("Hoà Xá", "Hoà Xá"));
                PhuongXa.options.add(new Option("Khuê Trung", "Khuê Trung"));
                PhuongXa.options.add(new Option("Minh Tân", "Minh Tân"));
                PhuongXa.options.add(new Option("Tam Thuận", "Tam Thuận"));
                PhuongXa.options.add(new Option("Thanh Khê Đông", "Thanh Khê Đông"));
                PhuongXa.options.add(new Option("Thanh Khê Tây", "Thanh Khê Tây"));
                break;
            case "Hải Châu":
                PhuongXa.options.add(new Option("Bình Hiên", "Bình Hiên"));
                PhuongXa.options.add(new Option("Bình Thuận", "Bình Thuận"));
                PhuongXa.options.add(new Option("Hải Châu I", "Hải Châu 1"));
                PhuongXa.options.add(new Option("Hải Châu II", "Hải Châu 2"));
                PhuongXa.options.add(new Option("Hòa Cường Bắc", "Hòa Cường Bắc"));
                PhuongXa.options.add(new Option("Hòa Cường Nam", "Hòa Cường Nam"));
                PhuongXa.options.add(new Option("Nam Dương", "Nam Dương"));
                PhuongXa.options.add(new Option("Phước Ninh", "Phước Ninh"));
                PhuongXa.options.add(new Option("Thạch Thang", "Thạch Thang"));
                PhuongXa.options.add(new Option("Thanh Bình", "Thanh Bình"));
                break;
            case "Liên Chiểu":
                PhuongXa.options.add(new Option("Hòa Hiệp Bắc", "Hòa Hiệp Bắc"));
                PhuongXa.options.add(new Option("Hòa Hiệp Nam", "Hòa Hiệp Nam"));
                PhuongXa.options.add(new Option("Hòa Khương", "Hòa Khương"));
                PhuongXa.options.add(new Option("Hòa Minh", "Hòa Minh"));
                PhuongXa.options.add(new Option("Hòa Ninh", "Hòa Ninh"));
                PhuongXa.options.add(new Option("Hòa Phong", "Hòa Phong"));
                PhuongXa.options.add(new Option("Hòa Phú", "Hòa Phú"));
                PhuongXa.options.add(new Option("Hòa Phước", "Hòa Phước"));
                PhuongXa.options.add(new Option("Hòa Sơn", "Hòa Sơn"));
                PhuongXa.options.add(new Option("Hòa Tiến", "Hòa Tiến"));
                PhuongXa.options.add(new Option("Hòa Xuân", "Hòa Xuân"));
                break;
            case "Ngũ Hành Sơn":
                PhuongXa.options.add(new Option("Hòa Hải", "Hòa Hải"));
                PhuongXa.options.add(new Option("Hòa Quý", "Hòa Quý"));
                PhuongXa.options.add(new Option("Khuê Mỹ", "Khuê Mỹ"));
                PhuongXa.options.add(new Option("Mỹ An", "Mỹ An"));
                PhuongXa.options.add(new Option("Mỹ Đa", "Mỹ Da"));
                break;
            case "Sơn Trà":
                PhuongXa.options.add(new Option("An Hải Bắc", "An Hải Bắc"));
                PhuongXa.options.add(new Option("An Hải Đông", "An Hải Đông"));
                PhuongXa.options.add(new Option("An Hải Tây", "An Hải Tây"));
                PhuongXa.options.add(new Option("Mân Thái", "Mân Thái"));
                PhuongXa.options.add(new Option("Nại Hiên Đông", "Nại Hiên Đông"));
                PhuongXa.options.add(new Option("Phước Mỹ", "Phước Mỹ"));
                break;
            case "Thanh Khê":
                PhuongXa.options.add(new Option("An Khê", "An Khê"));
                PhuongXa.options.add(new Option("Chính Gián", "Chính Gián"));
                PhuongXa.options.add(new Option("Hòa Khê", "Hòa Khê"));
                PhuongXa.options.add(new Option("Tam Thuận", "Tam Thuận"));
                PhuongXa.options.add(new Option("Tân Chính", "Tân Chính"));
                PhuongXa.options.add(new Option("Tân Hòa", "Tân Hòa"));
                PhuongXa.options.add(new Option("Thạc Gián", "Thạc Gián"));
                PhuongXa.options.add(new Option("Thanh Khê Đông", "Thanh Khê Đông"));
                PhuongXa.options.add(new Option("Thanh Khê Tây", "Thanh Khê Tây"));
                break;
            case "Hoà Vang":
                PhuongXa.options.add(new Option("Hòa Bắc", "Hòa Bắc"));
                PhuongXa.options.add(new Option("Hòa Châu", "Hòa Châu"));
                PhuongXa.options.add(new Option("Hòa Khánh Bắc", "Hòa Khánh Bắc"));
                PhuongXa.options.add(new Option("Hòa Khánh Nam", "Hòa Khánh Nam"));
                PhuongXa.options.add(new Option("Hòa Phong", "Hòa Phong"));
                PhuongXa.options.add(new Option("Hòa Phú", "Hòa Phú"));
                PhuongXa.options.add(new Option("Hòa Quế", "Hòa Quế"));
                PhuongXa.options.add(new Option("Hòa Sơn", "Hòa Sơn"));
                PhuongXa.options.add(new Option("Hòa Tiến", "Hòa Tiến"));
                PhuongXa.options.add(new Option("Hòa Xuân", "Hòa Xuân"));
                PhuongXa.options.add(new Option("Hòa Xương", "Hòa Xương"));
                PhuongXa.options.add(new Option("Hòa Đông", "Hòa Đông"));
                PhuongXa.options.add(new Option("Hòa Đức", "Hòa Đức"));
                PhuongXa.options.add(new Option("Hòa Động", "Hòa Động"));
                PhuongXa.options.add(new Option("Hòa Quang", "Hòa Quang"));
                PhuongXa.options.add(new Option("Hòa Thọ Đông", "Hòa Thọ Đông"));
                PhuongXa.options.add(new Option("Hòa Thọ Tây", "Hòa Thọ Tây"));
                break;
            case "Hoàng Sa":
                PhuongXa.options.add(new Option("Hoàng Sa", "Hoàng Sa"));
                break;
            default:
                PhuongXa.options.add(new Option("Chưa có tùy chọn phường/xã", ""));
                break;
        }
    }
</script>