@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!Doctype html>
<html>
<head>
    <base href="https://localhost:7183/">
    <title>Giới thiệu</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Baloo:wght@400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Baloo Da:wght@400&display=swap" />
    <link rel="stylesheet"
</head>

<body>
    <div class="container">
        <div class="rangle"></div>
        <div class="GT">Giới thiệu</div>
        <div class="VTCCT">Về trang của chúng tôi</div>
        <div class="VCT"> Về chúng tôi</div>
        <div class="MTVCT">
            Chào mừng bạn đến với trang web kết nối hoạt động cộng đồng của chúng tôi!
            Chúng tôi là nơi mọi người có thể kết nối, chia sẻ và tìm kiếm sự hỗ trợ từ cộng đồng rộng lớn.
            Với sứ mệnh tạo ra một môi trường trực tuyến tích cực và hỗ trợ,.
            Chúng tôi cam kết đem lại giá trị thực sự cho mỗi thành viên tham gia.
            Trang web của chúng tôi cung cấp các tính năng hiện đại như diễn đàn trực tuyến,
            blog chia sẻ thông tin, sự kiện trực tuyến, và nhiều hoạt  động khác để kích thích sự tương tác và giao lưu giữa cộng đồng.
        </div>
        <div class="img1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRMjxO6T6kIiFsH7MSX6Zg-w3VQymQoVxUIQ&usqp=CAU" width="490px" height="393px" />
        </div>
        <div class="img2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRMjxO6T6kIiFsH7MSX6Zg-w3VQymQoVxUIQ&usqp=CAU" width="518px" height="373px" />
        </div>
        <div class="MT">Mục tiêu</div>
        <div class="MTMT">
            Với mục tiêu xây dựng một cộng đồng mạnh mẽ và hỗ trợ lẫn nhau,
            chúng tôi cung cấp một  nền tảng trực tuyến để mọi ngườicó thể gặp gỡ,
            trao đổi kiến thức và kinh nghiệm, cũng như  tìm kiếm sự giúp đỡ trong mọi lĩnh vực.
            Chúng tôi tin rằng sức mạnh của cộngđồng nằm ở việc mỗi cá nhân đều có thể đóng góp và học hỏi từ nhau.
            Vì vậy, chúng tôi khuyến khích mọi người  tham gia, chia sẻ kiến thức và kinh nghiệm của mình để cùng nhau phát triển và thành công
            .
        </div>
    </div>
</body>

</html>
<style>
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .rangle {
        position: absolute;
        left: 0px;
        top: 164px;
        width: 1437px;
        height: 525px;
        background: linear-gradient(180deg, rgba(77, 227, 119, 0.36), #fff);
    }

    .GT {
        position: absolute;
        left: 577px;
        top: 345px;
        font-family: Baloo;
        color: #021E47;
        font-size: 70px;
    }

    .VTCCT {
        position: absolute;
        left: 520px;
        top: 451px;
        font-family: Baloo;
        color: #021E47;
        font-size: 40px;
    }

    .VCT {
        position: absolute;
        left: 191px;
        top: 722px;
        font-family: Baloo;
        color: #021E47;
        font-size: 40px;
    }

    .MTVCT {
        position: absolute;
        left: 145px;
        top: 789px;
        width: 532px;
        font-family: Baloo;
        color: #021E47;
        font-size: 20px;
    }

    .img1 {
        position: absolute;
        left: 724px;
        top: 748px;
    }

    .img2 {
        position: absolute;
        left: 145px;
        top: 1219px;
    }

    .MT {
        position: absolute;
        left: 891px;
        top: 1214px;
        font-family: Baloo;
        color: #021E47;
        font-size: 40px;
    }

    .MTMT {
        position: absolute;
        left: 724px;
        top: 1285px;
        width: 490px;
        height: 320px;
        font-family: Baloo;
        color: #021E47;
        font-size: 20px;
    }

</style>
