﻿
<!DOCTYPE html>
<html>
<head>
    <base href="https://localhost:7196/">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Baloo:wght@400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    <div class="khunghead">
        <div class="retangle">
            <div class="image_logo">
                <img src="https://www.hasfarmgreens.com/wp-content/uploads/2021/09/12-icon-HFG_FA-09.png" alt=" " width="105px" height="99px" />
            </div>
            <label class="together">Together</label>
            <ul>
                <li><a class="trangchu" href="Canhan/Trangchucanhan">Trang chủ</a></li>
                <li><a class="hoatdongcanhan" href="Canhan/Hoatdongcanhan">Hoạt động cá nhân</a></li>
            </ul>
            

            <div class="taikhoan">
                <button class="btn">
                    <i class="fas fa-user"></i>
                </button>
                <ul class="luachon">
                    <li><a href="Canhan/Hienthithongtincanhan">Xem thông tin cá nhân</a></li>
                    <li><a href="Canhan/Chinhsuathongtincanhan">Chỉnh sửa thông tin cá nhân</a></li>
                    <li> <a href="Taikhoan/Doimatkhau" id="forgotPasswordLink">Đổi mật khẩu</a></li>
                    <li><a href="Taikhoan/Dangnhap">Đăng xuất</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div>
        @RenderBody()
    </div>

</body>
</html>

<style>

    .khunghead {
        position: relative;
        width: 100%;
        margin: 0; /* Loại bỏ margin */
        left: 0;
        right: 0;
        top: 0; /* Đặt ở đầu trang */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: rgba(15, 135, 48, 0.17);
        height: 160px;
    }

    .retangle {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative; /* Cần thiết để sử dụng position absolute cho các phần tử con */
        width: 1440px;
        height: 160px;
    }
    /* .khunghead:hover {
            transform: scale(1.1);
            }*/

    .image_logo {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .together {
        position: absolute;
        left: 0px;
        top: 102px;
        font-family: Baloo;
        color: #0F8730;
        font-size: 25px;
    }

    .trangchu {
        position: absolute;
        left: 520px;
        top: 58px;
        font-family: Baloo;
        color: #0F8730;
        font-size: 30px;
        text-decoration: none;
    }

    .hoatdongcanhan {
        position: absolute;
        left: 850px;
        top: 58px;
        font-family: Baloo;
        color: #0F8730;
        font-size: 30px;
        text-decoration: none;
    }

    a:active,
    a:focus {
        color: #000000;
    }


    .search-container {
        position: absolute;
        left: 900px;
        top: 60px;
        width: 375px;
        height: 45px;
    }

    .search-input {
        width: 282px;
        height: 23px;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 15px;
    }

    .search-button {
        background-color: transparent;
        width: 29px;
        height: 33px;
        border: none;
        outline: none;
    }


        .search-button i {
            color: #000000;
            margin-top: 3px;
            font-size: 20px;
        }

    .taikhoan {
        position: absolute;
        left: 1340px;
        top: 48px;
        width: 100px;
        height: 63px;
    }

    .luachon {
        display: none;
        position: absolute;
        list-style-type: none;
        padding: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        z-index: 1000;
    }

    .taikhoan:hover .luachon,
    .taikhoan:focus .luachon {
        display: block;
        width: 220px;
        height: 200px;
    }

    .luachon li {
        display: block;
        padding: 5px 10px;
        font-family: Inter;
        font-size: 20px;
    }

        .luachon li a:hover {
            background-color: #f0f0f0;
        }

    .taikhoan:hover .luachon li a {
        text-decoration: none;
    }


    .btn i {
        font-size: 50px;
    }

    .btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }





    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 40px; /* Tăng padding để làm cho popup to ra */
        border: 1px solid #0F8730;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 450px;
        height: 250px;
        max-width: 90%; /* Hoặc sử dụng giá trị phù hợp khác */
        z-index: 9999; /* Đảm bảo popup nổi lên trên các thành phần khác */
    }



    .popup-content {
        text-align: center;
    }

    .close {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
    }
</style>